.header {
    padding: 25px 0 0;
    background-color: var(--white);
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
    padding: 40px 0;
}

.header__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    line-height: 32px;
    vertical-align: middle;
}

.header__theme-switcher {
    line-height: 24px;
    vertical-align: middle;
}

.header__navigation-menu {
    margin: 0 56px 0 auto;
}

@media (max-width: 600px) {
    .header {
        padding-top: 17px;
    }

    .header__toolbar {
        justify-content: center;
    }

    .header__theme-switcher {
        display: none;
    }

    .header__title {
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
        padding: 48px 0 69px;
    }

    .header__navigation-menu {
        display: none;
    }

    .header__tabs {
        display: none;
    }
}
