/* Стилизация кнопки */
.button {
    /* Remove default style*/
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background-color: transparent;
    border: none;
    /* Our styles */
    box-sizing: border-box;
    min-height: 48px;
    min-width: 189px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out, border 200ms ease-in-out;
    padding: 15px 0 14px;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button__text {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: center;
}

.button_primary, .button_primary:active {
    background-color: var(--primary);
}

.button_primary:hover:not(:disabled,:active) {
    background-color: var(--primary-hover);
}

.button_secondary, .button_secondary:active {
    background-color: var(--secondary);
}

.button_secondary:hover:not(:disabled,:active) {
    background-color: var(--secondary-hover);
}

.button_alternate, .button_alternate:active {
    border: 1px solid var(--grey-3)
}

.button_alternate:hover:not(:disabled,:active) {
    border-color: var(--black)
}

.button__text_alternate {
    color: var(--grey-4);
}
