.card {
    box-sizing: border-box;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card__preview {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.card__preview_calendar {
    font-size: 11px;
    width: 202px;
}

.card__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
    margin-bottom: 6px;
}

.card__description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--grey-4);
}

@media (max-width: 600px) {
    .card {
        border-radius: 8px;
        padding: 0;
    }

    .card__title {
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        padding: 12px 10px 10px;
    }

    .card__description {
        display: none;
    }

    .card__preview {
        padding: 10px;
        margin-bottom: 0;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    }

    .card__preview_calendar {
        border: none;
        font-size: 9px;
        width: 140px;
    }

    .card__preview_histogram {
        font-size: 10px;
        border: none;
    }
}
