/* Стилизация аккордеона */
.accordion {
    display: grid;
    gap: 8px;
    width: 730px;
}

.accordion-item {
    display: block;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    min-width: 730px;
}

.accordion-item__summary {
    font: inherit;
    outline: none;
    display: block;
    padding: 24px 32px;
}

.accordion-item[open] .accordion-item__summary {
    padding-bottom: 16px;
}

.accordion-item__summary::-webkit-details-marker,
.accordion-item__summary::marker {
    display: none;
}

.accordion-item__content {
    font: inherit;
    margin: 0;
    text-align: justify;
    padding: 0 32px 32px;
}
