/* Стилизация аккордеона */
.accordion {
    display: grid;
    gap: 8px;
}

.accordion__item {
    display: block;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    background-color: var(--white);
    border: var(--default-border);
    border-radius: 8px;
}

.accordion__summary {
    font: inherit;
    outline: none;
    display: block;
    padding: 24px 32px;
    position: relative;
}

.accordion__summary:after {
    position: absolute;
    right: 32px;
    top: 32px;
    height: 8px;
    width: 16px;
    color: var(--grey-4);
    content: url("../../assets/images/icons.svg#arrow-bottom");
}

.accordion__item[open] > .accordion__summary {
    padding-bottom: 16px;
}

.accordion__item[open] > .accordion__summary:after {
    content: url("../../assets/images/icons.svg#arrow-top");
}

.accordion__summary::-webkit-details-marker,
.accordion__summary::marker {
    display: none;
}

.accordion__content {
    font: inherit;
    margin: 0;
    text-align: justify;
    padding: 0 32px 32px;
}
