.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(196, 196, 196, 0.5);
}

.modal__window {
    box-sizing: border-box;
    background: var(--white);
    border-radius: 8px;
    padding: 30px 40px 33px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.modal__close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

.modal__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--title-color);
    margin: 0 0 14px;
}

.modal__content {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    text-align: justify;
    margin: 0;
}
