.preview {
    background: #F9FAFC;
    border-top: var(--default-border);
    border-bottom: var(--default-border);
    padding: 67px 0 92px;
    width: 100%;
}

.preview__button {
    display: block;
    margin: 64px auto 0;
    grid-column: 1/ -1;
}

.preview__card-list {
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.preview__card {
    height: 367px;
}
